
// fixes bug in semantic ui that displays as block
.dimmed.dimmable>.ui.simple.dimmer {
  display: flex;
}

.portfolio-item {
  height: 100%;
  
  .content .header {
    color: rgba(0,0,0,.87) !important;
  }

  .portfolio-image {
    height: 100%;
    object-fit: cover;
  }
}