@import '../theme/variables.scss';

#footer {
  padding: 5em 0em;
  background-color: $primary;
}

#bottom-bar {
  background-color: $primary;
}

#bottom-bar-icons {
  padding-top: 1.5em;
}

#attribution {
  color: $light;
  align-self: center;

  a {
    color: $light;
    text-decoration: underline;

    &:hover {
      color: $white;
    }
  }
}