@import '../theme/variables';

.socialMediaIcons {
  a .button-icon {
    color: $primary;
    margin: 0 0.5em;
  
    &:hover {
      color: $secondary;
    }

  }

  // support inverted style
  &.inverted {
    a .button-icon {
      color: $secondary;
      margin: 0 0.5em;

      &:hover {
        color: $white;
      }
    }
  }
}